// $color-background: lighten(#C4DFE6, 13%);     // Light Blue
// $color-primary: #66A5AD;  // Muted Teal
// // $nav-links-color:darker

// $color-border: darken($color-primary, 10%);
// $color-text-primary: $color-primary;
// $color-text-hover: darken($color-primary, 10%);
// $button-color: lighter($color-primary, 40%);
// $breakpoint-mobile: 768px;



// $color-background: lighten(#C4DFE6, 20%);
$color-primary: #66A5AD;
$color-border: darken($color-primary, 10%);
$color-text-primary: $color-primary;
$color-text-hover: darken($color-primary, 10%);
$button-color: lighten($color-primary, 40%);
$breakpoint-mobile: 768px;


$color-background: #f2f2f2;
// $color-border: #e0e0e0;
// $color-primary: #e0e0e0;
// $color-text-primary: #8e8e8e;
// $color-text-hover: #666666;
// $button-color: lighten($color-primary, 40%);
// $breakpoint-mobile: 768px;